.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    max-width: 1540px;
    margin: 0 auto;
}

.grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: calc(100% - 300px);
    margin: 0 auto;
    border: 1px solid #DDDDDD;
    z-index: -2;
}

.grid_line2,
.grid_line3,
.grid_line4 {
    width: 100%;
    height: 100%;
    border-left: 1px dashed #DDDDDD;
}

/* at this width and below */
@media only screen and (max-width: 1464px) {
    .grid {
        display: none;
    }
}