.header {
    min-height: 475px;
    padding: 160px;
    padding-bottom: 64px;
}

.hero_title__container {
    position: relative;
    max-width: 550px;
}

.hero_title {
    color: #333333;
    mix-blend-mode: color-burn;
    user-select: none;
}

.hero_title[data-overlay] {
    color: #111111;
    position: absolute;
    left: 0;
    top: 0;
    mix-blend-mode: revert;
    user-select: none;
    z-index: 2;
    opacity: .5;
}

.canvas_container {
    position: absolute;
    inset: 0;
    height: 65vh;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
    isolation: isolate;
    z-index: -1;
}

.header_container {
    display: grid;
    grid-gap: 32px 0;
    max-width: 460px;
    margin-top: 32px;
}

.header_content {
    display: grid;
    grid-gap: 32px 0;
}

.call_to_action {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
}

.video_container {
    display: flex;
    align-items: center;
    padding: 0 160px 32px;
}

.video {
    width: 100%;
}

.deep_and_wide__container {
    max-width: 1212px;
    margin: 0 auto;
}

.about_us_article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    margin-top: 32px;
}


.icons {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 32px;
}

.more_aboutus__button {
    margin-top: 32px;
}

/* at this width and below */
@media only screen and (max-width: 1464px) {
    .canvas_container {
        height: 50vh;
        clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
    }
    
    .header_content__p {
        max-width: 450px;
    }

    .call_to_action {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }

    .icons {
        grid-template-columns: repeat(3, 1fr);
    }

    .video_container {
        margin: 32px 0 0;
        padding: 0;
    }
}

@media only screen and (max-width: 1130px) {
    .canvas_container {
        height: 50vh;
        clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 80%);
    }

    .header {
        padding: 0 60px;
        padding-top: 180px;
    }

    .deep_and_wide__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 16px 0;
        padding: 40px 60px 0;
    }

    .about_us_article {
        grid-template-columns: 1fr;
    }

    .icons {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .header {
        padding: 0 16px;
        padding-top: 180px;
    }

    .canvas_container {
        height: 50vh;
        clip-path: polygon(0 0, 100% 0, 100% 55%, 0% 85%);
    }

    .deep_and_wide__container {
        padding: 40px 16px 0;
    }

    .about_us__button {
        margin: 0;
    }

    .call_to_action {
        grid-template-columns: 1fr;
    }

    .icons {
        grid-gap: 16px;
        grid-template-columns: repeat(1, 1fr);
    }
}