.header_section {
    padding: 200px 0 120px;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.content_title {
    margin: 32px 0 16px;
    font-weight: 500;
}

.title_and_content {
    margin: 16px 0;
}

.highlighted_section {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 32px 160px 16px;
}

.highlighted_section__content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 32px;
    padding: 0 80px;
}

.main_section {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 0 160px;
}

.main_content,
.highlighted_paragraph {
    padding: 0 80px;
    background-color: #FFFFFF;
}

@media screen and (max-width: 1130px) {
    .highlighted_section {
        grid-template-columns: 0 100%;
        padding: 32px 60px 16px;
    }

    .highlighted_section__content {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 0 32px ;
        padding: 0;
    }

    .main_section {
        grid-template-columns: 1fr;
        padding: 0 60px;
    }

    .main_content,
    .highlighted_paragraph {
        padding: 0;
    }  
}

@media screen and (max-width: 768px) {
    .highlighted_section {
        padding: 32px 16px 16px;
    }

    .highlighted_section__content {
        grid-template-columns: 1fr;
        grid-gap: 32px 0;
    }

    .main_section {
        padding: 0 16px;
    }
}