.header_section {
    padding: 200px 0 120px;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.content_title {
    margin: 32px 0 16px;
    font-weight: 500;
}

.title_and_content {
    margin: 16px 0;
}

.highlighted_section {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 32px 160px 16px;
}

.highlighted_section__content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 32px;
    padding: 0 80px;
}

.main_section {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 0 160px;
}

.nav_items {
    position: relative;
    padding-left: 16px;
}

.nav_items::before {
    content: "";
    position: absolute;
    width: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #EAE5E5;
    border-radius: 5px;
}

.nav_item {
    margin-top: 8px;
    position: relative;
}

.nav_item::before {
    content: '';
    margin-top: 8px;
    position: absolute;
    width: 3px;
    top: -6px;
    left: -15px;
    bottom: 2px;
    background-color: #FF7700;
    border-radius: 5px;
}

.main_content,
.highlighted_paragraph {
    padding: 0 80px;
    background-color: #FFFFFF;
}

@media screen and (max-width: 1130px) {
    .highlighted_section {
        grid-template-columns: 0 100%;
        padding: 32px 60px 16px;
    }

    .highlighted_section__content {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 0 32px ;
        padding: 0;
    }

    .main_section {
        grid-template-columns: 1fr;
        padding: 0 60px;
    }

    .main_content,
    .highlighted_paragraph {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .highlighted_section {
        padding: 32px 16px 16px;
    }

    .highlighted_section__content {
        grid-template-columns: 1fr;
        grid-gap: 32px 0;
    }

    .main_section {
        padding: 0 16px;
    }
}